<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>axseem.dev {{.Title}}</title>
		<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
		<link rel="icon" href="/assets/favicon.png" type="image/png" />
		<link rel="mask-icon" href="/assets/favicon-white.svg" color="#ffffff" />
		<link rel="stylesheet" href="/assets/styles.css" />
	</head>
	<body>
		<a href="/">Back</a>
		<h1>{{.Title}}</h1>
		<p class="date">{{.Date.Format "January 1, 2006"}} by axseem</p>
		<p>{{.Content}}</p>
	</body>
</html>
