<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>axseem.dev</title>
		<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
		<link rel="icon" href="/assets/favicon.png" type="image/png" />
		<link rel="”mask-icon”" href="/assets/favicon-white.svg" color="#ffffff" />
		<link rel="”mask-icon”" href="/assets/favicon.svg" />
		<link rel="stylesheet" href="/assets/styles.css" />
		<link rel="stylesheet" href="/assets/index.css" />
	</head>
	<body>
		<div id="about">
			<h1>@axseem</h1>
			<p>
				Hi, my name is Max, I am a software engineer. Striving to build
				efficient, scalable and robust software. Currently mastering Go, while
				learning about Zig, Rust and low-level programming in spare time.
			</p>
			<p>
				You can find me at:
				<a href="https://github.com/axseem">GitHub</a>,
				<a href="https://instagram.com/axseem">Instagram</a>,
				<a href="https://x.com/theaxseem">Twitter</a>.
			</p>
		</div>
		<h1>Blog</h1>
		{{range .}}
		<div>
			<a href="./blog/{{.ID}}/"><h2 class="title">{{.Title}}</h2></a>
			<p class="summary">{{.Summary}}</p>
			<p class="date">{{.Date.Format "January 1, 2006"}}</p>
		</div>
		{{end}}
	</body>
</html>
